* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #3299BB;
}

.App-header {
  background-color: #3299BB;
  min-height: 10vh;
  padding: 0px;
  margin: 0px;
  color: white;
  width: 100vw;
}

.App-body {
  background-color: #424242;
  color: white;
  text-align: left;
  align-items: center;
  float: center;
  width: 100vw;
  min-height: 85vh;
}

.App-footer {
  background-color: #424242;
  color: white;
  text-align: center;
  font-size: 70%;
  width: 100vw;
  min-height: 5vh;
}

.NavBar {
  font-size: 155%;
  padding: 0px;
  padding-top: 25px;
  padding-bottom: 30px;
  width: 100%;
  margin: 0 auto;
}

.NavBar-li {
  float: left;
  display: block;
  text-align: center;
  width: 25%;
  text-decoration: none;
  color: white;
  background-color: transparent;
}
.button-inline {
  border-width: 0;
  background: transparent;
  color: inherit;
  text-align: inherit; -webkit-font-smoothing: inherit; padding: 0;
  font-size: inherit;
  cursor: pointer; 
  text-decoration: none;
}
.button-inline:hover {
  border-width: 0;
  background: transparent;
  color: inherit;
  text-align: inherit; -webkit-font-smoothing: inherit; padding: 0;
  font-size: inherit;
  cursor: pointer; 
  text-decoration: underline;
}
.button-active {
  border-radius: 0;
  border-bottom: 1px solid #38BB6C;
}

h2: {
  font-size: 200%;
  padding: 10px;
  margin: 0px;
}