.App {
  text-align: center;
}

.App-header {
  background-color: #3299BB;
  height: 80px;
  padding: 0px;
  margin: 0px;
  color: white;
}

.App-body {
  background-color: #424242;
  color: white;
}

.App-footer {
  background-color: #424242;
  color: white;
}

.NavBar {
  font-size: 155%;
  padding: 0px;
  padding-top: 25px;
  padding-bottom: 30px;
  width: 100%;
  margin: 0 auto;
}

.NavBar-li {
  float: left;
  display: block;
  text-align: center;
  width: 20%;
  text-decoration: none;
  color: white;
  background-color: transparent;
}

h2 {
  font-size: 200%;
  padding: 10px;
  margin: 0px;
}